.homepage {
  .sectools {
    background: #263769;
    text-align:center;
  }

  p {
    text-align: justify;
  }

  .downlinkgrp {
    padding: 0!important;
  }

  .downbtns-group {
    text-align:center;
    padding-right: 30px;
    padding-left: 30px;
  }
  div.cent {
    text-align:center;
    margin-bottom: 60px;
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }
  .btn {

    &.downlink {
      font-size: 13px;
      line-height: 16px;
      min-width: 175px;
      padding: 3px;
      margin-bottom: 15px!important;
      &:hover {
        background: lighten(#1C67A8, 5%);
      }
    }
  }

  .hp-sec-icon {
    margin: auto;
    max-width: 90%;
    display: block;
  }


  .telestration.mini {
    margin-top: 5px;
    height: 60px;
    position:relative;
    width: 200px;
    display: inline-block;
    &::after {
      content: '';
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      height: 60px;
      background: transparent url(img/telestration-button.png) no-repeat;
      background-position: center left;
      background-size: 60px;
    }
    .downlink {
      height: 42px;
      line-height: 16px;
      padding: 3px;
      padding-left: 20px;
      margin: 11px;
      margin-right: 0;
      min-width: 106px;
      min-width: 130px;
      &:hover {
        background-color: #1C67A8;
      }
    }
  }
  .hp-sec1 {
    background: #ECF6FC;
    position: relative;
    padding: 100px 0;
    margin-top: -1px;

    @include media-breakpoint-down(md) {
      padding: 80px 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 40px 0;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left:0;
      bottom:0;
      right: 0;
      background-image: url(/app/themes/src/img/hp-landing.png);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: auto 100%;
      @include media-breakpoint-down(lg) {
        opacity: 0.6;
        left:40%;
        background-position: center;
      }
      @include media-breakpoint-down(md) {
        opacity: 0.4;
        left:50%;
        background-position: center;
      }
      @include media-breakpoint-down(sm) {
        opacity: 0.17;
        left:0%;
        background-position: center;
      }
    }
    .inner-left-sec {
      max-width: 450px;
      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }
    .downbtns-group {
      max-width: 440px;
      margin-left: auto;
      @include media-breakpoint-down(sm) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }


  .hp-sec2 {
    padding: 60px 0;

    .row.row-nopads {
      @include media-breakpoint-between(xs,sm) {
        margin: 0 !important;
      }
    }
    .inner-left-sec {
      padding-right: 40px;
      @include media-breakpoint-down(sm) {
        padding-right: 0px;
      }
    }
    .inner-right-sec {
      padding-left: 40px;
      @include media-breakpoint-down(sm) {
        padding-left: 0px;
      }
    }

    .pic-hdr-box {
      height: 200px;
      @include media-breakpoint-down(md) {
        height: auto;
      }
    }

    .aside-buttons-col {
      max-width: 250px;
      padding-right: 40px;
      @include media-breakpoint-down(md) {
        max-width: 100%;
        text-align:center;
      }
      @include media-breakpoint-down(sm) {
        padding-right: 0px;
      }
    }

    .downbtns-group {
      padding-top: 3px;
    }
  }
  .hp-sec3 {
    background: #ECF6FC;
    text-align:center;

    .content-stub {
      min-height: 710px;
      @include media-breakpoint-down(lg) {
        min-height: 0;
      }
    }

    .inner-left-sec {
      padding: 60px 0;
      padding-right: 30px;
      @include media-breakpoint-down(sm) {
        padding-right: 0px;
      }
    }
    .inner-right-sec {
      padding: 60px 0;
      padding-left: 30px;
      @include media-breakpoint-down(sm) {
        padding-left: 0px;
      }
    }
    .wrapper-middle-sec {
      background: #BDD4E3;
      @include media-breakpoint-up(sm) {
        padding: 60px 40px;
      }
      .downbtns-group {
        text-align:center;
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }

  .telestration-section {
    background: #093B6A;
    padding: 60px 0;
    .telestration {
      height: 80px;
      position:relative;
      width: 200px;
      display: inline-block;
      transform: scale(1.3);

      &::after {
        content: '';
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        height: 80px;
        background: transparent url(img/telestration-button.png) no-repeat;
        background-position: center left;
        background-size: 80px;
      }
      &:hover {
        opacity: 0.85;
      }
      .downlink {
        height: 52px;
        margin: 14px;
        margin-right: 0;
        padding-left: 50px;
        min-width: 106px;
        min-width: 200px;
        .downlabel {
          padding-top: 3px;
        }
        &:hover {
          background-color: #1C67A8;
        }
      }
    }
  }

  .hp-sec4 {
    text-align:center;
    .content-stub {
      min-height: 720px;
      @include media-breakpoint-down(lg) {
        min-height: 0;
      }
    }

    .wrapper-middle-sec {
      background: #1C67A8;
      p {
        margin:0;
      }
    }
    .inner-right-sec,
    .inner-left-sec {
      padding: 60px 0;
      text-align:center;
    }
    .inner-left-sec {
      padding-right: 40px;
      @include media-breakpoint-down(sm) {
        padding-right: 0px;
      }
    }
    .inner-right-sec {
      padding-left: 40px;
      @include media-breakpoint-down(sm) {
        padding-left: 0px;
      }
    }
  }
}