.page-inner {
  .page-inner-container {
    max-width: 930px;
    margin: auto;
  }

  p {
    text-align: justify;
  }

  .page-header-main {
    margin-top: 115px;
    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }
  }
  .page-content-main {
    padding-bottom: 115px;
    @include media-breakpoint-down(lg) {
      padding-bottom: 120px;
    }
    @include media-breakpoint-down(md) {
      padding-bottom: 40px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 0px;
    }

    .sidebar-buttons {
      max-width: 255px;
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        width: 100%;
        text-align:center;
      }
    }
  }
}