/**
 * partials/footer
 * ---
 */


.footer {
  background: #666666;
  text-align:center;
  line-height: 20px;
  padding: 40px;
  color: #fff;
  .copyright {
    margin:0;
  }
  p {
    color: #fff;
    text-align:center !important;
  }
}
