/**
 * partials/header
 * ---
 */


// Header container
.header {
  z-index: 2;
  position: relative;
  .header-tophalf {
    padding: 40px 0;
    @include media-breakpoint-down(md) {
      padding: 10px 0;
      border-bottom: 1px solid #dfdfdf;
    }
  }

  .hamburger {
    &,
    &:hover,
    &:active,
    &:hover {
      box-shadow: none !important;
      outline: none !important;
      border: none !important;
    }
  }
  .toggler-cont {
    display: none;
    text-align:right;
    padding: 15px;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .topbar-rightside {
    @include media-breakpoint-up(md) {
      align-self: flex-end!important;
    }
  }

  .site-title-cont {
    display: block;
    max-width: 500px;
    margin-left: auto;

    h2 {
      font-size: 28px;
      line-height: 25px;
      margin:0;
      margin-bottom: 5px;
      padding:0;
    }
    h5 {
      color: #6D6E70;
      font-size: 18px;
      line-height: 25px;
      margin:0;
      padding:0;
    }
    @include media-breakpoint-down(lg) {
      padding-top: 10px;
      h2 {
        font-size: 24px;
        line-height: 25px;
        margin:0;
        margin-bottom: 5px;
        padding:0;
      }
      h5 {
        font-size: 14px;
        line-height: 25px;
        margin:0;
        padding:0;
      }
    }
    @include media-breakpoint-down(xs) {
      h2, h5 {

        display: none;
      }
    }
  }

  .navbar-mainhdr {
    background: #2768A6;
    padding: 0;
    .navbar-nav {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      @include media-breakpoint-down(md) {
        display: block;
      }
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
      width: 100%;
      .nav-item {
        display: inline-block;
        list-style: none;
        flex-basis: 0;
        flex-grow: 1;
        white-space: nowrap;
        text-align:center;
        padding: 0 20px;
        @include media-breakpoint-down(xl) {
          padding: 0 4px;
        }
        @include media-breakpoint-down(lg) {
          padding: 0px;
        }
        @include media-breakpoint-down(md) {
          display: block;
        }

        &:first-of-type {
          padding-left:0;
        }

        &:last-of-type {
          padding-right:0;
        }

        a {
          display: inline-block;
        }
      }
    }
    .nav-link {
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 20px;
      padding: 15px 10px 10px 10px;
      border-bottom: 5px solid #2768A6;
      @include media-breakpoint-down(xl) {
        padding: 15px 7px 10px 7px;
      }
      @include media-breakpoint-down(lg) {
        padding: 15px 4px 10px 4x;
      }
      &.active {
        border-bottom: 5px solid #fff;
      }
    }
  }
}

// Logo
.logo {}

.logo-img {
  max-width: 100px;
  @include media-breakpoint-down(md) {
    max-width: 70px;
  }
}
