/**
 * partials/wrapper
 * ---
 */
.site-wrapper {

  .downlinkgrp.col-6 {
    @media(max-width: 440px) {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
    }
  }

  p {
    color: #666666;
    font-size: 16px;
    line-height: 24px;
  }

  ul {
    color: #666666;
    font-size: 16px;
    line-height: 24px;
    padding-left: 27px;
    margin-top: -13px;
  }

  h2 {
    font-weight: bold;
    color: #1C67A8;
    font-size: 35px;
    line-height: 42px;
    margin: auto;
    margin-bottom: 50px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 38px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 38px;
    }

  }

  h4 {
    line-height: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #1C67A8;
  }

  .btn {
    &.viewmore-btn {
      color: #1C67A8;
      font-weight: bold;
      padding: 0px;
      padding-bottom: 5px;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 24px;
      border: 2px solid transparent;
      border-radius: 0;
      &:hover {
        border-bottom: 2px solid #1C67A8;
      }
    }
    &.downlink {
      background: #1C67A8;
      font-size: 16px;
      line-height: 20px;
      padding: 4px;
      min-width: 200px;
      display: inline-block;
      color: #fff;
      text-align:center;
      margin-bottom: 40px !important;
      border-radius: 0;
      &:hover {
        background: lighten(#1C67A8,5%);
      }

      &.gray {
        background: #666666;
        &:hover {
          background: lighten(#666666,5%);
        }
      }

      .downlabel {
        display: block;
        width: 100%;
      }
      .downdesc {
        display: block;
        width: 100%;
        font-weight: bold;
        padding-top: 2px;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        z-index: 3;
        position: relative;
      }
    }

  }

  .telestration {
    height: 80px;
    position:relative;
    width: 200px;
    display: inline-block;

    &.onpage {
      margin-top: -14px;
    }
    &::after {
      content: '';
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      height: 80px;
      background: transparent url(img/telestration-button.png) no-repeat;
      background-position: center left;
      background-size: 80px;
    }
    &:hover {
      opacity: 0.85;
    }
    .downlink {
      height: 52px;
      margin: 14px;
      margin-right: 0;
      padding-left: 60px;
      min-width: 106px;
      min-width: 120px;
      &:hover {
        background-color: #1C67A8;
      }
    }
  }
  .slick-carousel {
    margin-bottom: 50px;
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }

    img,
    img.alignnone {
      max-width: 100%;
      margin: 10px auto !important;
    }
    .slide-label {
      text-align:center;
      padding: 15px;
      border-bottom: 1px solid #dfdfdf;
      color: #6D6E70;
      font-size: 14px;
      line-height: 24px;
    }

    .next-ico,
    .prev-ico {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 25px;
      height: 70px;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      @include media-breakpoint-down(sm) {
        display: none;
        visibility: hidden;
        height: 0;
        width: 0;
        overflow: hidden;
      }
    }
    .prev-ico {
      left: -50px;
    }

    .next-ico {
      right: -50px;
      left: auto;
    }

    .slick-slide {
      .car-image {
        border: 1px solid #dfdfdf;
      }
    }

  }

}
.telestration-overlay {
  opacicity:1;
  position: fixed;
  z-index: 58;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: #000;
  display: none;

  &.show {
    display: flex;

    .telestration-close {
      color: #fff;
      font-size: 35px;
      position: absolute;
      top: 20px;
      right: 40px;
    }
  }
}