
@media (min-width: 1220px) {
    .topbar-rightside > .row {
        display: block !important;
    }

    .header .navbar-mainhdr .navbar-nav {
        display: block !important;
    }
    .header .navbar-mainhdr .navbar-nav .nav-item {
        padding: 0 18px !important;
    }
}